
/*
 * Variables
 */

$text-color: #6d6e70;
$quiet-color: #ccc;
$loud-color: #000;

$heading-color: #008FA0;
$heading-hover-color: saturate(#008FA0, 40%);

$subheading-color: #6FC177;

$btn-color: #6FC177;
$btn-hover-color: lighten(#6FC177, 10%);

$link-color: #24B616;
$link-hover-color: saturate(#52854D, 40%);
$link-visited-color: #24B616;

$base-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-mobile: 15px;
$base-font-tablet: 16px;
$base-font-weight: 300;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
$heading-font-weight: 700;


/*
 * Base styles
 */

body {
  color: $text-color;
  font-size: $base-font-mobile;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  padding: 0px;
  line-height: 1.6;
  @include breakpoint($tablet) {
		font-size: $base-font-tablet;
  }
  @include breakpoint($desktop, $no-query: '.no-mq') {
		font-size: $base-font-size;
  }
}



/*
 * Typography
 */

.link {
  color: $link-color;
  text-decoration: none;
  
  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
  &:visited {
    color: $link-visited-color;
  }
}

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; }
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: 250%; letter-spacing: 0px; color: $heading-color;}
.h2 { font-size: 180%; }
.h3 { font-size: 160%; }
.h4 { font-size: 145%; }
.h5 { font-size: 130%; }
.h6 { font-size: 100%; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

  a { @extend .link;  @include animate-all-on-hover; }

  em { @extend .italic; }
  b, strong { @extend .bold; }
  
  h1, h1 > a { @extend .h1; margin: 1em 0 0.5em; font-weight: 800;}
  h1.page-title, h1#page-title {margin: 0.3em 0 0; }
  h2, h2 > a{ @extend .h2; margin: 1em 0 0.5em; }
  h2.sub-title { color: $subheading-color;  font-weight: 100; margin: 0.1em 0 0.5em; }
  h3, h3 > a { @extend .h3; margin: 1em 0 0.5em; }
  h4, h4 > a { @extend .h4; margin: 1em 0 0.5em; }
  h5, h5 > a { @extend .h5; margin: 1em 0 0.5em; }
  h6, h6 > a { @extend .h6; margin: 1em 0 0.5em; }

  .list-title > a { 
    color: $heading-color;
    &:hover {
      color: $heading-hover-color;
      text-decoration: none;
    }
  }
  p, ul, ol, pre { @extend .block-margins; }
  p {
    line-height: 2;
  }
  ul { @extend .unordered-list; margin: 1em 0 1em 3em;}
  ol { @extend .ordered-list; margin:  1em 0 1em 3em;}
  
  pre, code { @extend .fixed; }



/*
 * Modifiers
 */

.float-left  { float: left; margin-right: 1em; }
.float-right { float: right; margin-left: 1em; }

.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }


/*
 * Object definitions
 */

.content {
  margin: 0 auto;
}

.header-block {
  font-size: 110%;
  
  &.typography h1 { font-size: 400%; margin-top: 0 !important; }
}

.author-block {
  border-top: 3px double $quiet-color;
  margin-top: 4em;
}


.action-btn {
  padding: 2em 0 1em;
  text-align: center;
  a {
    background: #fff;
    border: 2px solid $btn-color;
    padding: .5em 2em;
    display: inline-block;
    color: $btn-color;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    @include animate-all-on-hover;
    &:hover {
      background: $btn-color;
      color: #fff;
      text-decoration: none;
    }
  }
}

.read-more-link {
  a {
    color: $btn-color;
    display: inline-block;
    font-size: 105%;
    font-weight: 700;
    text-decoration: none;
    @include animate-all-on-hover;
    font-family: "proxima-nova",sans-serif;
    &:hover {
      color: $btn-hover-color;
      text-decoration: none;
    }
    &:visited {
      color: $btn-color;
    }
    
  }
}

//FRont Donate Btn 
.donate-btn {
	margin: -1em;
	a {
		color: #fff;
		background: #ee464c;
		display: block;
		text-align: center;
		padding: .5em 0 .4em;
		margin: 2em 0 0;
		font-size: 115%;
		font-weight: 700;
		@include border-radius(0 0 6px 6px);
		&:hover {
			background: lighten(#ee464c, 10%);
			text-decoration: none;
		}
	}
}

input[type="submit"], button[type="submit"], #edit-submit {
    background: $btn-color;
    padding: .4em 2.2em .35em;
    display: inline-block;
    font-size: 100%;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 35px;
    @include animate-all-on-hover;
    font-family: "proxima-nova",sans-serif;
    border: none;
    &:hover {
      background: $btn-hover-color;
      color: #fff;
      text-decoration: none;
    }
    &:visited {
      color: #fff;
    }
}

.webform-client-form {
  input[type="submit"] {

  }
}



.flag-outer {
  .flag-action, .flag {
    color: $btn-color;
    display: inline-block;
    font-size: 105%;
    font-weight: 700;
    text-decoration: none;
    @include animate-all-on-hover;
    font-family: "proxima-nova",sans-serif;
    &:hover {
      color: $btn-hover-color;
      text-decoration: none;
    }
    &:visited {
      color: $btn-color;
    }
  }
  
  .unflag-action {
    color: #c82d2d;
    &:hover {
      color: #f03c3c;
    }
    &:visited {
      color: #c82d2d;
    }
  }
}


.clearfix {
  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
  }
}

.post-date {
  font-family: "proxima-nova",sans-serif;
  font-weight: 700;
}



.draggable a.tabledrag-handle {
  height: auto;
  margin-left: 0;
  .handle {
    height: 21px;
    margin: 0;
    padding: 0 17px;
    width: 21px;
  }
}


.label {
  font-weight: 700;
  display: inline-block;
}
/* -- Pager -- */

.typography .pager, .pager {
  padding: 0;
  margin: 20px 0;
  text-align: left;
  li {
    display: inline-block;
    list-style: none;
    padding: 0 .7em;
    font-family: "proxima-nova",sans-serif;
    &.pager-current {
      color: saturate(#52854D, 40%);
    }
    &.pager-ellipsis {
      color: $heading-color;
    }
    a {
      color: $heading-color;
      text-decoration: none;
      font-weight: 700;
        font-family: "proxima-nova",sans-serif;

    }
  }
}

.half-width-insert {
  @include breakpoint($phone) {
    width: 100% !important;
    max-width: 100%;
  }
    padding: 15px;
    height: auto !important;
    width: 50% !important;
}

.your-wishlist-print  {
  .views-row {
    margin-bottom: 30px;
  }
}

i {
  margin: 0 10px 0 0;
}



.messages {
  p, .element-invisible {
    margin: 0;
  }
}

@media \0screen {img { width: auto }} /* Prevent height distortion in IE8. */
