@import 'partials/global/mixins';
@import 'partials/global/variables';
@import "compass/css3";



input[type="text"], input[type="email"], textarea, input[type="password"], input[type="file"], input[type="number"], input[type="search"], input:-webkit-autofill  {
  background-color: #fff;
  border: 1px solid #dcd9d7;
  height: auto;
  padding:15px 20px;
  width: 100%;
  @include border-radius(6px);
  font-size: 16px;
  color: #666;
  outline: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: none;
  }
}

-webkit-autofill {
	background-color: #fff !important;
}

textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px !important;
  outline: none;
}
  
input[type="text"], input[type="email"], textarea, input[type="password"], input[type="file"], input[type="number"]  {
  @include animate-all-on-hover;
  &:active, &:focus {
    outline: none;
    border-bottom: 1px solid $focus;
  }
  &:active, &:hover, &:focus {
    box-shadow: none;
    outline: none;
  }

}


div.form-item.form-type-radio {
display: inline-block;
margin-right: 1em;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	.fieldset-wrapper {
		padding-left: 1.5em;
	}
	.fieldset-title {
		font-weight: 700;
		font-size: 110%;
		padding-left: .5em;
	}
}
html.js fieldset.collapsed {
	height: auto;
}


.webform-client-form {
	#edit-actions input {
		margin-right: 1em;
	}
}

#webform-component-present-last-employer--starting-pay, #webform-component-present-last-employer--ending-pay {
	input {
		width: auto;
	}
}


// Validation 
.form-item input.error, .form-item textarea.error {
  border: 0;
  border: 1px solid $error;

}

.form-item input.valid, .form-item textarea.valid {
  border: 1px solid $valid;
}

.form-item {
	margin: 1em 0 2em;
}

span.error, label.error {
  color: $error;
  font-style: italic;
  font-size: 80%;
  padding-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: auto;
  @include breakpoint($desktop) {
    padding-left: 19%;
  }
}

.not-logged-in.page-user {
  div#block-delta-blocks-tabs {
    max-width: 700px;
    margin: 1em auto 0;
  }
}
#user-login, #user-pass {
  max-width: 700px;
  background: #F3F3F3;
  padding: 2em;
  margin: 2em auto;
  border-radius: 6px;
  border: 1px solid #CCC;
  .form-item .description {
    padding-top: 7px;
  }
}

#bboxdonation_BBEmbeddedForm {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif !important;
}
.BBFormButtonRow {
	width: auto !important;
	text-align: left !important;
		
input[type="submit"], #bboxdonation_btnSubmit {
		    background: $btn-color !important;
		    padding: .4em 2.2em .35em;
		    display: inline-block;
		    color: #fff;
		    font-weight: 700;
		    text-decoration: none;
		    border-radius: 35px !important;
		    border: none !important;
		    &:hover {
		      background: $btn-hover-color;
		      color: #fff;
		      text-decoration: none;
		    }
		}

	}


