@import 'partials/global/mixins';
@import 'partials/global/variables';

footer {
	color: #fff;
	font-size: 90%;
	padding: 1em;
	clear: both;
	/*@include arrow;
  @include css-arrow(top, center, 12px, 0, #6FC177);*/
  background: #6FC177;
	@include breakpoint($tablet, $no-query: '.no-mq') {
		padding: 4em 5em 2em;
	}
	h2.sub-title {
		color: #fff;
		font-weight: 700;
		font-size: 160%;
	}
	p {
		margin: 0;
	}
	h6 {
		margin: 0.2em 0 0.5em;
	}
	.footer-testimonial {
		@include breakpoint($tablet, $no-query: '.no-mq') {
			@include grid-span(4,9);
		}
	}
	.locations-footer {
		@include breakpoint($tablet, $no-query: '.no-mq') {
			@include grid-span(8,1);
			.content div {
				float: left;
				margin-right: 65px;
			}
		}
	}
}




/* Bottom Footer Styles */

.bottom-footer {
	background: #5E9E62;
	color: #fff;
	p {
		margin-top: 0;
		font-size: 90%;
		@include breakpoint($tablet, $no-query: '.no-mq') {
			margin: 0;
		}
		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.footer-left {
	@include breakpoint($tablet, $no-query: '.no-mq') {
		@include grid-span(6,1);
	}
}

.footer-right {
	@include breakpoint($tablet, $no-query: '.no-mq') {
		text-align: right;
		@include grid-span(6,7);
	}
}